rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if true;
    }

    match /transactions/{transactionId} {
      allow read, write: if true;
    }

    match /months/{monthId} {
      allow read, write: if true;
    }

    match /expenses/{expenseId} {
      allow read, write: if true;
    }
  }
} 